---
title: imgur search
description: |
  The meme database is growing.
---
<div class="mb-3">
  {% include imgur-nav.html %}
</div>

{% assign all_tags = '' | split: '' %}
{% for item in site.data['imgur-tags'] %}
  {% for tag in item[1] %}
    {% if tag != '' %}
      {% assign all_tags = all_tags | push: tag %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign unique_tags = all_tags | uniq | sort %}

<div x-data="root">
  <div class="pb-3">
    <label class="form-label">All tags</label>
    <div class="d-flex gap-2 flex-wrap">
      {% for tag in unique_tags %}
        <button
          type="button"
          class="btn"
          :class="activeTags.includes($el.textContent) ? 'btn-primary' : 'btn-secondary'"
          @click="handleClick($el.textContent)"
        >
          {{- tag -}}
        </button>
      {% endfor %}

      <button
        type="button"
        class="btn btn-outline-danger"
        :disabled="activeTags.length === 0"
        @click="resetAll()"
      >
        Clear all tags
      </button>
    </div>
  </div>

  <div x-show="!isLoading && resultCount === 0" class="alert alert-info">
    <h4 x-show="activeTags.length === 0">Select any tag above to get started!</h4>
    <h4 x-show="activeTags.length !== 0">No results found!</h4>
    <p>
      If you choose two or more tags, the filter will only show images that have
      <b>all</b> of the selected tags.
    </p>
    <p>For example, if you select "magomet" and "90d", you will see images that include both tags.</p>
  </div>
</div>

<div id="search-container"></div>

{% include gallery.html %}

<script>
  document.addEventListener('alpine:init', () => {
    function root() {
      return {
        /** @type {string[]} */
        activeTags: [],
        resultCount: 0,
        isLoading: false,

        getTagsFromUrl() {
          const url = new URL(window.location.href);
          return url.searchParams.getAll('tags');
        },

        async init() {
          this.activeTags = this.getTagsFromUrl();
          this.filterActiveEntries();
        },

        handleClick(tag) {
          if (this.activeTags.includes(tag)) {
            this.activeTags = this.activeTags.filter((iterTag) => iterTag !== tag);
          } else {
            this.activeTags = [...this.activeTags, tag];
          }

          const newParams = new URLSearchParams();
          this.activeTags.forEach((iterTag) => {
            newParams.append('tags', iterTag);
          });
          window.history.replaceState(undefined, '', '?' + newParams.toString());

          this.filterActiveEntries();
        },

        async filterActiveEntries() {
          const container = document.querySelector('#search-container');
          container.innerHTML = '';
          this.resultCount = 0;

          if (this.activeTags.length === 0) {
            return;
          }

          this.isLoading = true;
          const content = await fetch('{{ site.baseurl }}/imgur/all-index/').then((res) => res.text());
          const parser = new DOMParser();
          const doc = parser.parseFromString(content, 'text/html');

          const groups = doc.querySelectorAll('[data-search-group]');
          groups.forEach((group) => {
            group.querySelectorAll('[data-search-item-tags]').forEach((item) => {
              const searchTags = item.getAttribute('data-search-item-tags');
              const isItemMatch = this.activeTags.every((tag) => searchTags.includes(`|${tag}|`));

              if (!isItemMatch) {
                item.parentNode.removeChild(item);
              }
            });

            const activeItems = group.querySelectorAll('[data-search-item-tags]');
            this.resultCount = this.resultCount + activeItems.length;

            if (activeItems.length > 0) {
              group.querySelector('h4 > .badge').textContent = activeItems.length;
              container.appendChild(group);
            }
          });

          const headings = container.querySelectorAll('h4');
          headings.forEach((heading, idx) => {
            heading.classList.remove('mt-4');

            if (idx > 0) {
              heading.classList.add('mt-4');
            }
          });

          this.isLoading = false;
        },

        resetAll() {
          this.activeTags = [];
          this.resultCount = 0;
          this.isLoading = false;
          this.filterActiveEntries();
          window.history.replaceState(undefined, '', '?');
        },
      };
    }

    Alpine.data('root', root);
  });
</script>
<script
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"
  defer
></script>
