<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ relURL "ok.png" }}?v=2" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.2/dist/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/blueimp-gallery@3.4.0/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    {{ $css := resources.Get "main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

    <title>{{ .Site.Title }}</title>
</head>

<body>
    <div class="container pt-3 py-5">
        <h2>TheS1tuation memes</h2>
        {{ block "main" . }}
        {{ .Content }}
        {{ end }}
        {{ partial "footer.html" . }}
    </div>

    <div hidden>
        {{ $imgur_json := resources.Get "imgur.json" }}
        {{ $imgur_json.RelPermalink }}
    </div>

    {{/*
    {{ $js := resources.Get "main.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>
    */}}
</body>
</html>
