<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- assign full_title = page.title | append: ' - ' | append: site.title %}
    <title>{{ full_title }}</title>

    <link
      rel="shortcut icon"
      href="{{ site.baseurl }}/assets/ok.png?v=2"
      type="image/png"
    >

    {%- assign full_description = '' %}
    {%- if page.description %}
      {%- assign full_description = page.description | markdownify %}
    {%- elsif layout.description %}
      {%- assign full_description = layout.description | markdownify %}
    {%- endif %}

    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ full_title }}">
    <meta name="description" property="og:description" content="{{ full_description | strip_html | strip }}">
    <meta name="twitter:card" content="summary">

    <meta name="date" content="{{ 'now' | date_to_xmlschema }}">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.7/dist/darkly/bootstrap.min.css"
    >
    <link
      rel="preload"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'"
      href="https://cdn.jsdelivr.net/npm/blueimp-gallery@3.4.0/css/blueimp-gallery.min.css"
    >
    <link
      rel="preload"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    >
    {% if page.render_code %}
      <link
        rel="preload"
        as="style"
        onload="this.onload=null; this.rel='stylesheet'"
        href="https://cdn.jsdelivr.net/gh/richleland/pygments-css@master/monokai.css"
      >
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  </head>
  <body>
    <div class="container pt-3 py-5">
      <h2>{{ site.title }}</h2>

      {{ full_description }}

      <div class="mb-3">{% include nav.html %}</div>

      {{ content }}
      {% include footer.md %}
    </div>
  </body>
</html>
