---
layout: base
description: |
  All times are recorded in GMT+8.
  The original album in imgur is [shadowbanned](../../imgur-shadowban/).
  Click on the image to open the gallery view.
---

<div class="mb-3">
  {% include imgur-nav.html %}
</div>

{% assign filter_groups = site.data.imgur-parsed | where_exp: "group", "group.name contains page.data_year" %}

{% for group in filter_groups %}
<h4 class="{% if forloop.index0 != 0 %}mt-4{% endif %}" id="{{ group.name | slugify }}">
  <a class="text-decoration-none" href="#{{ group.name | slugify }}">
    <i class="fa fa-paperclip"></i>
  </a>

  {{ group.name }}
  <span class="badge text-bg-info">{{ group.items | size }}</span>
</h4>

<div class="row">
  {% for item in group.items %}
    {% assign current_tags = item.tags %}

    {% if item.link contains '.gif' %}
      {% assign current_tags = current_tags | push: 'gif' %}
    {% endif %}

    {% assign current_tags = current_tags | sort %}

    <div class="col-md-6 col-lg-4 mt-2">
      <div class="card card-body p-2">
        <div class="d-flex">
          <a
            href="{{ item.link }}"
            data-title="{{ item.timeDisplay }} - {{ current_tags | join: ', ' }}"
            data-image-id="{{ item.id }}"
            data-image-index="{{ item.index }}"
          >
            <img
              class="me-2"
              src="{{ item.thumbnail }}"
              width="120"
              height="120"
              loading="lazy"
              alt="{{ item.id }}"
            />
          </a>
          <div>
            <div class="mb-1">
              <strong>{{ item.timeDisplay }}</strong>
            </div>
            <div class="mb-1">
              {% for tag in current_tags %}
              <span class="badge text-bg-secondary">{{ tag }}</span>
              {% endfor %}
            </div>
            <div>
              <a
                href="{{ item.link }}"
                target="_blank"
                class="btn btn-sm btn-outline-info"
                title="Open image in new tab"
              >
                <i class="fa fa-share-square-o"></i>
              </a>

              <a
                href="{{ item.link }}"
                class="btn btn-sm btn-outline-info imgur-copy-link"
                title="Copy image URL"
              >
                <i class="fa fa-clipboard"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endfor %}

<div class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery" aria-modal="true" role="dialog">
  <div class="slides" aria-live="polite"></div>
  <h3 class="title"></h3>
  <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a>
  <a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a>
  <a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/blueimp-gallery@3.4.0/js/blueimp-gallery.min.js"></script>
<script>
  const allLinks = [...document.querySelectorAll("[data-image-id]")];

  document.querySelector(".container").addEventListener("click", (evt) => {
    const copyLink = evt.target.closest(".imgur-copy-link");
    if (copyLink) {
      evt.preventDefault();
      navigator.clipboard.writeText(copyLink.getAttribute("href"));
      return;
    }

    const imageLink = evt.target.closest("[data-image-id]");
    if (imageLink) {
      evt.preventDefault();
      const id = imageLink.getAttribute("data-image-id");
      const index = allLinks.findIndex((elem) =>
        elem.getAttribute("data-image-id") === id
      );

      blueimp.Gallery(allLinks, {
        event: evt,
        index,
        container: ".blueimp-gallery",
        toggleControlsOnEnter: false,
        toggleControlsOnSlideClick: false,
      });
      return;
    }
  });
</script>
