{{ range $groupIndex, $datum := index $.Site.Data "imgur-parsed" }}
{{ $isFirst := cond (eq ($groupIndex) 0) "" " mt-4" }}
<h4 class="{{ $isFirst }}" id="{{ $datum.name | urlize }}">
    <a class="text-decoration-none" href="#{{ $datum.name | urlize }}">
        <i class="fa fa-paperclip"></i>
    </a>

    {{ $datum.name }}
    <span class="badge badge-info">{{ len $datum.items }}</span>
</h4>
<div class="row">
    {{ range $datum.items }}

    {{ $tags := index (index $.Site.Data "imgur-tags") .id | default (slice) }}
    {{ if strings.HasSuffix .link ".gif" }}
        {{ $tags = $tags | append "gif" }}
    {{ end }}

    <div class="col-md-6 col-lg-4 mt-2">
        <div class="card card-body p-2">
            <div class="d-flex">
                <a
                    href="{{ .link }}"
                    rel="noopener noreferrer"
                    data-title="{{ .timeDisplay }} - {{ delimit $tags ", " }}"
                    data-image-id="{{ .id }}"
                >
                    <img class="mr-2" src="{{ .thumbnail }}" width="120" height="120" loading="lazy" alt="{{ .id }}">
                </a>
                <div>
                    <div class="mb-1">
                        <strong>{{ .timeDisplay }}</strong>
                    </div>
                    <div class="mb-1">
                        {{ range sort $tags }}
                        <span class="badge badge-secondary">{{ . }}</span>
                        {{ end }}
                    </div>
                    <p>
                        <a
                            href="{{ .link }}"
                            rel="noopener noreferrer"
                            target="_blank"
                            class="btn btn-sm btn-outline-info"
                            title="Open image in new tab"
                        >
                            <i class="fa fa-share-square-o"></i>
                        </a>

                        <a
                            href="{{ .link }}"
                            class="btn btn-sm btn-outline-info imgur-copy-link"
                            title="Copy image URL"
                        >
                            <i class="fa fa-clipboard"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}

<div class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery" aria-modal="true" role="dialog">
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a>
    <a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a>
    <a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/blueimp-gallery@3.4.0/js/blueimp-gallery.min.js"></script>
<script>
    const allLinks = [...document.querySelectorAll(".card-body > div > a")];
    allLinks.forEach((elem) => {
        elem.addEventListener(
            "click",
            (evt) => {
                const id = evt.target.closest("a").getAttribute('data-image-id');
                const index = allLinks.findIndex((elem) => elem.getAttribute('data-image-id') === id);

                blueimp.Gallery(allLinks, {
                    event: evt,
                    index,
                    container: ".blueimp-gallery",
                    toggleControlsOnEnter: false,
                    toggleControlsOnSlideClick: false,
                });
            },
            false
        );
    });

    const copyLinks = [...document.querySelectorAll('.imgur-copy-link')];
    copyLinks.forEach((link) => {
        link.addEventListener('click', (evt) => {
            evt.preventDefault();
            navigator.clipboard.writeText(link.getAttribute('href'));
        });
    });
</script>
